<!DOCTYPE html>
<html ng-app="mmApp">
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,900,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/angular-drag-drop.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <title>Mastermind!</title>
</head>
<body>
  <div ng-controller="mmCtrl" class="leftmargined">

    <div><h1>Mastermind!</h1></div>

    <button ng-click="newGame(true)" class="btn btn-primary">New Game</button>

    <div ng-if="gameInProgress">

      <div><h3>Level {{level+1}}</h3></div>

      <div class="topmargined bottommargined">
        <button ng-click="submitGuess()" ng-disabled="cantGuess" class="btn btn-primary">Guess!</button>
        <button class="btn btn-success leftmargined" ng-click="newGame(false)" ng-show="canPlayNext" class="">Next Level!</button>
      </div>

      <div><h3 class="resultstext">{{results}}</h3></div>

      <div class="container">
        <div class="gem" ng-repeat="gem in game.gems" drag-container="gem"
        mime-type="text/x-gem"
        style="background: radial-gradient(circle at 6px 6px, {{gem}}, #000)">
        </div>
      </div>

      <div class="container">

        <div class="container">
          <div class="slot" ng-repeat="slot in guess"
          drop-container
          accepts=["text/x-gem"]
          on-drop="dropped($event,slot,data)"
          style="background: radial-gradient(circle at 6px 6px, {{slot.value}}, #000)">
          </div>
        </div>

        <!-- style="background-color: {{ slot.value }}"> -->

        <div class="container" ng-repeat="prev in prevGuesses">
          <div class="slot" ng-repeat="slot in prev"
          style="background: radial-gradient(circle at 6px 6px, {{slot.value}}, #000)">
          </div>
        </div>

      </div>

      <div class="container">

        <div class="container">
          <div class="slot" ng-repeat="slot in guess"
          style="border: none">
          </div>
        </div>

        <div class="container" ng-repeat="prev in prevGuesses">
          <div class="slot" ng-repeat="slot in prev"
          style="background: radial-gradient(circle at 6px 6px, {{ slot.peg }}, #000)">
          </div>
        </div>
      </div>

    </div>


  </div>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script src="js/angular-drag-drop.js"></script>
  <script src="js/mmGame.js"></script>
  <script src="js/app.js"></script>
</body>
</html>